// ======================== [ Variables ] ========================
// Breakpoints
$breakpoint1450: 1449.99 + px;
$breakpoint1200: 1199.99 + px;
$breakpoint992: 991.99 + px;
$breakpoint768: 767.99 + px;
$breakpoint480: 479.99 + px;
$breakpoint375: 374.99 + px;

// Fonts
$archivo: 'Archivo', sans-serif;
$golos: 'Golos Text', sans-serif;
$inco: 'Inconsolata', monospace;
$roboto: 'Roboto Mono', monospace;

// Colors
$primaryBlack: #000000;
$primaryBlue: #0072fe;
$primaryWhite: #ffffff;

$secondaryGreen: #4effbf;
$secondaryGray: #e9ebee;
$secondaryDarkGray: #303030;
$secondaryLightgray: #e9ebee;
// $primaryWhite: #e9ebee;

$uiGreen: #6ab40d;
$uiRed: #cf0000;
